[route="workflow-graphic"] {
	height: 100%;
}
.workflow-graphic {
	height: 100%;
	.state {
		fill: #fafafa;
		stroke-width: 1px;
		stroke: #aaa;
		&.current-state {
			stroke: #5a6291;
			fill: #ebedf9;
		}
	}
}